@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,600|IBM+Plex+Sans:400,400i,600,700,700i');

body {
	font-family: 'IBM Plex Sans', sans-serif;
	background: #fff;
	margin: 0 auto;
}

a { 
	text-decoration: none;
	line-height: 24px;
	font-size: 15px;
	color: #1142AA;
}
a:hover { 
	color: #2660DA;
}
a:visited {
	color: #464BCE;
}

h1 {
	font-size: 28px;
	line-height: 36px;
}

h2 {
	font-size: 24px;
	line-height: 36px;
	font-weight: normal;
}

h3 {
	font-size: 18px;
	line-height: 24px;
}

h4 {
	font-size: 16px;
	line-height: 24px;
}

h5 {
	font-size: 15px;
	line-height: 24px;
}

h6 {
	font-size: 14px;
	line-height: 24px;
}
.ul {
	list-style: none;
	padding: 0;
}
.li {
	padding-bottom: 12px;
	padding-top: 12px;
}

.li::before {
	content: '';
	display: inline-block;
	background: #2660DA;
	width: 24px;
	height: 2px;
	vertical-align: middle;
	border: solid #FFF;
	border-width: 0 12px;

}
.ol {
	padding-left: 20px;
}
.img {
	max-width: 100%;
}
.img--small {
	max-width: 100%;
	padding: 0 12px 12px 0;
}

figcaption {
	text-align: center;
}

.wrapper {
	max-width: 1260px;
	margin: 0 auto;
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.wpapper--textpage {
	max-width: 936px;
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.cnt {
	margin: 0 auto;
	text-align: center;
}

.head {
	overflow: hidden;
	position: relative;
	height: 100%;
	width: 100%;
	padding-top:45%;
	z-index: 1;
}

.head--stock {
	padding-top: 198px;
	overflow: visible;
}

.head__video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.head__overlay {
    /* background: linear-gradient(0deg, #1142AA 0%, #2660DA 100%);
    opacity: 0.75; */
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 30;
}

/*Фон для верхнего меню */
.header__ground {
	width: 100%;
	background: #2660DA;
	position: relative;
	z-index: 1;
	
} 

.header {
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	display: flex;
	margin: auto;
	padding-top: 24px;
	margin-bottom: 18px;
	opacity: 1 !important;
}

.header__info {
	display: flex;
}

.header__graph {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin-top: 12px;
	padding-left: 96px;
}

.header__adress {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin-top: 12px;
	padding-left: 36px;
}


.header__graph span, .header__adress span {
	font-weight: normal;
	display: block;
}

.header__phone {
	margin-top: 12px;
	margin-left: auto;
	margin-right: 24px;
	position: relative;
}

.header__phone a {
	font-weight: bold;
	line-height: normal;
	font-size: 18px;
	color: #FFFFFF !important;
}


.header__phone--mobile {
	text-align: right;
	position: relative;
}

.header__phone--mobile a {
	font-weight: bold;
	line-height: normal;
	font-size: 18px;
	color: #FFFFFF !important;
}

.header__phone_block {
	flex-direction: column;
	display: inline-flex;
	text-align: left;
	margin-top: 12px;
}

.header__phone_form {
	position: absolute;
	top: 60px;
	left: -204px; 
	z-index: 9;
	width: 392px;
	height: 296px;
	font-size: 14px;
	color: #101E3C;
	background: #fff;
	display: none;
	box-sizing: border-box;
}
.header__phone_form:after {
	position: absolute;
	left: 3px;
	top: 3px;
	width: 100%;
	height: 100%;
	border-right: 2px solid #DEDEDE;
	border-bottom: 2px solid #DEDEDE;
	content: "";
	z-index: -1;
}
.header__phone_pos {
	margin-top: 24px;
	margin-left: 36px;
}


.header__border {
	border: 2px solid #FFEB00;
}

/* Фон для меню(необходим на некоторых страницах) */
.header__back {
	width: 100%;
	height: 72px;
	background: #1142AA;

} 

.header__menu {
	margin-top: 10px;
	font-size: 13px;
	letter-spacing: 1px;
	float: right;
}

.header__menu ul {
	list-style: none;
	padding: 0;
}
.header__menu li {
	display: inline-block;
}

.header__menu a {
	font-weight: 600;
	line-height: normal;
	font-size: 15px;
	color: #FFFFFF;
	padding-left: 36px; 
}

.header__menu a:hover {
	color: #FFEB00;
}

.menu__mobile {
	font-weight: 600;
	text-align: right;
	color: #FFEB00;
	padding-top: 12px;
}
.menu__mobile img {
	padding-left: 8px;
}

.rent {
	width: 100%;
	background: #fff;
	margin-top: -40px;
	position: relative;
	z-index: 10;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	display: flex;
	margin-bottom: 180px;
}


.rent__office, .rent__area {
	margin-top: 60px;
}

.rent__office img, .rent__area img  {
	position: relative;
	z-index: -3;
	max-width: 100%;
}



.advantage {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	margin: auto;
	margin-bottom: 60px;
}

.advantage__image {
	text-align: center;
}

.advantage__image img {
	margin-bottom: 12px;
}

.advantage__text {
	font-size: 15px;
	text-align: center;
	color: #101E3C;
	padding-bottom: 24px;
}

.form {
	border: 2px solid #DEDEDE;
	box-sizing: border-box; 
	height: 204px;
	margin-bottom: 144px;
	position: relative;
}

.form__text {
	margin-top: 60px;
	font-weight: bold;
	line-height: 36px;
	font-size: 28px;
	text-align: center;
	color: #101E3C;
}

.form__position {
	text-align: center;
	margin-top: 55px;
}

.form__block {
	flex-direction: column;
	display: inline-flex;
	text-align: left;
	margin-right: 12px;
	z-index: 4;
	position: relative;
}

.form__name {
	font-weight: 600;
	line-height: 24px;
	font-size: 14px;
	color: #101E3C;  
}

.form__input {
	width: 264px;
	height: 48px;
	border: 2px solid #1142AA;
	box-sizing: border-box;
	padding-left: 10px;
}
.form__input:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.2); 
}


.form__input:focus {
	outline: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.form__input--phone {
	width: 180px;
}
.form__input--form {
	width: 324px;
}
.form__input--lastname {
	width: 198px;
}
.form__input--patronymic {
	width: 408px;
}

.form__input--name {
	width: 252px;
}
.form__input--pform {
	width: 144px;
}



.subscribe__input:hover {
	border: 1px solid #F91B60;
}

.subscribe__input:active {
	border: 1px solid #E5E5E5;
}
.substrate {
	margin: 0 auto;
	max-width: 1188px;
	height: 552px;
	background-color: #f5f5f5;
}

.substrate--shop {
	height: 288px !important;
	margin-top: 144px;
}
.substrate--contact {
	height: 132px !important;
}

.thanks__title {
	font-weight: bold;
	line-height: 36px;
	font-size: 28px;
	color: #101E3C;
	margin-top: -500px;
}

.slider {
	margin-top: 48px;
	margin-bottom: 144px;
}

.slider .jcarousel {
	position: relative;
	overflow: hidden;
}
.slider .jcarousel > ul {
	width: 20000em;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}
.slider .jcarousel > ul > li {
	display: table-cell;
	vertical-align: top;
	position: relative;
}
.slider * {
	box-sizing: border-box;
}
.slider .jcarousel {
	position: relative;
	overflow: hidden;
}

.slider_certificates_slider {
	position: relative;
}
.slider_certificates_slider li {
	text-align: center;
	padding-right: 0px;
}
.slider_certificates_title {
	margin-top: 10px;
	font-size: 12px;
}
.slider_certificates .jcarousel_button {
	width: 48px;
	height: 48px;
	position: absolute;
	top: 47%;
	margin-top: -16px;
}

.slider_certificates_control {
	margin-top: 30px;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	display: flex;

}

.slider__border {
	position: relative;
	border-right: 2px solid #DEDEDE;
	border-bottom: 2px solid #DEDEDE;
	box-sizing: border-box;
	padding-right: 2px;
	padding-bottom: 2px;
}



.jcarousel-pagination {
	height: 48px;
	line-height: 48px;
	margin: 0 36px;
}

.jcarousel-pagination a  {
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
}

.jcarousel-pagination a:after {
	content: "/";   
	font-size: 24px;
	color: #000;
} 

.jcarousel-pagination a:last-child:after {
	content: "";  
}

.row {
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	display: flex;
	margin-bottom: 48px;
}

.row--cat {
	flex-wrap: nowrap;
}

.row--rent {
	margin-bottom: 84px;
}


.title {
	font-weight: bold;
	line-height: 36px;
	font-size: 28px;
	color: #101E3C;
	overflow: hidden;
}

.title:after {
	content: '';
	display: inline-block;
	background: #FFEB00;
	width: 36px;
	height: 2px;
	vertical-align: middle;
	border: solid #FFF;
	border-width: 0 12px;
}

.title--grey:after {
	border: solid #f5f5f5;;
	border-width: 0 12px;
}
.title--renter {
	margin-bottom: 36px;
}

.catalog {
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	display: flex;
	margin-bottom: 50px;
}

.catalog__object {
	position: relative;
    max-width: 180px;
}
.catalog__card, .shop__card, .advice__card {
	margin-bottom: 24px;
}

/* .catalog__card--cat { 
	padding-left: 12px;
}  */

.catalog__card--hide {
	width: 176px;
	visibility: hidden;
	height: 0;
	padding: 0;
	margin-bottom: 0;
	margin-top: 0;
}

.catalog__card img {
	position: relative;
	border-right: 2px solid #DEDEDE;
	border-bottom: 2px solid #DEDEDE;
	box-sizing: border-box;
	padding-right: 2px;
	padding-bottom: 2px;
}

.catalog__text {
	margin-top: 14px;
	text-align: center;
	width: 176px;
}

.catalog__right {
	margin-left: 144px;
}


.image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
}

.middle {
	transition: .2s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
	height:  100%;
}

.catalog__object:hover .middle {
	opacity: 1;
	width: 100%;
	height: 100%;
	border-right: 2px solid #FF0000;
	border-bottom: 2px solid #FF0000;
	padding-right: 2px;
	padding-bottom: 2px;
	box-sizing: border-box;
}
.union__hover {
	width: 176px;
	height: 176px;
	background: #FFEB00;
	opacity: 0.9;
}

.shop {
	margin-top: -240px;
}

.shop__wrap {
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	display: flex;
	margin-top: 48px;
	margin-bottom: 144px;
}

.shop__object {
	position: relative;
	max-width: 180px;
}

.shop__card--rent {
	width: 181px;
}

.shop__hide {
	width: 181px;
	visibility: hidden;
	height: 0;
	padding: 0;
	margin: 0;
}

.shop__card img {
	position: relative;
	border-right: 2px solid #DEDEDE;
	border-bottom: 2px solid #DEDEDE;
	box-sizing: border-box;
	padding-right: 2px;
	padding-bottom: 2px;
}

.shop__text {
	margin-top: 14px;
	text-align: center;
	width: 180px;
}

.shop__text span {
	font-size: 15px;
	text-align: center;
	color: #101E3C;
	display: block;
}

.shop__object:hover .middle {
	opacity: 1;
	width: 100%;
	height: 100%;
	border-right: 2px solid #FF0000;
	border-bottom: 2px solid #FF0000;
	padding-right: 2px;
	padding-bottom: 2px;
	box-sizing: border-box;
}




.advice__wrap {
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	display: flex;
	margin-top: 48px;
	margin-bottom: 144px;
}

.advice__object {
	position: relative;
	max-width: 288px;
}

.advice__card img {
	position: relative;
	border-right: 2px solid #DEDEDE;
	border-bottom: 2px solid #DEDEDE;
	box-sizing: border-box;
	padding-right: 2px;
	padding-bottom: 2px;
}

.advice__text {
	margin-top: 14px;
	text-align: left;
	width: 288px;
}

.advice__text span {
	font-size: 15px;
	text-align: center;
	color: #101E3C;
	display: block;
}

.advice__object:hover .middle {
	opacity: 1;
	width: 100%;
	height: 100%;
	border-right: 2px solid #FF0000;
	border-bottom: 2px solid #FF0000;
	padding-right: 2px;
	padding-bottom: 2px;
	box-sizing: border-box;
}

.union__hover--advice {
	width: 284px;
	height: 164px;
	background: #FFEB00;
	opacity: 0.9;
}

.contact {
	margin-top: -84px;
}

.contact__map {
	margin-top: 84px;
	margin-bottom: 108px;
}

.title.title--grey.title--contact {
	float: left;
}

.contact__adress, .contact__graph {
	float: right;
	font-weight: bold;
	line-height: 24px;
	font-size: 14px;
	color: #101E3C;
	padding-left: 36px;
}
.contact__adress span , .contact__graph span {
	display: block;
	font-weight: normal;
}

.footer {
	background: #F5F5F5;
	height: 336px;
	position: relative;
	z-index: 1;
}

.footer__container {
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	display: flex;
	padding-top: 84px;
}

.footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	-webkit-columns: 3;
	columns: 3;
	-webkit-column-gap: 20px;
	column-gap: 20px;
}
.footer li {
	margin-bottom: 12px;
	margin-right: 36px;
}
.footer li a {
	color: #101E3C;
}
.footer li a:hover {
	color: #2660DA;
}

.footer a:hover {
	opacity: 1;
	font-weight: 500;
}

.footer__logo {
	position: relative;
}

.social {
	justify-content: flex-end;
	display: flex;
	margin-top: 36px;
	position: relative;
}

.social__item {
	width: 36px;
	height: 36px;
	background: #FFEB00;
	margin-left: 12px;
	position: relative;  
}
.social__item--img {
	position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}


.social__item:after {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 100%;
	height: 100%;
	border: 2px solid #FF0000;
	content: "";
	z-index: -1;
} 
.social__item:hover {
	background: #FFD600;
	cursor: pointer;
}


.footer__bottom {
	background: #1142AA;
	line-height: 60px;
}

.footer__row {
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	display: flex; 
}

.footer__copyright {
	color: #fff;
}

.breadcrumbs {
	margin-top: 24px;
	margin-bottom: 48px;
}

.breadcrumbs span {
	color: #FF0000;
}
.breadcrumbs__item {
	display: inline-block;
	font-size: 14px;
	color: #101E3C;
}
.breadcrumbs__item a {
	color: #1142AA;
}


/*--------------Renter--------------*/

.filter {
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	display: flex;
	margin-bottom: 36px;
}
.filter__name {
	line-height: 24px;
	font-size: 15px;
	color: #666666;
}

.filter__name a {
	color: #1142AA;
}

.filter__name a span {
	font-weight: bold;
}

.filter__up::after {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	width: 10px;
	height: 10px;
	margin-right: 12px;
	margin-left: 6px;
	background: url(../img/arrow.png) center center no-repeat;
}

.filter__down::after {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	width: 10px;
	height: 10px;
	margin-right: 12px;
	margin-left: 6px;
	background: url(../img/arrow.png) center center no-repeat;
	transform: rotate(180deg);
	
}

.filter__togle input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.filter__togle label {
 	border: 1px solid #E5E5E5;
  	color: #2F303A;
  	line-height: 24px;
  	text-align: center;
 	display: inline-block;
	margin-bottom: 12px;
	font-size: 14px;
	color: #101E3C;
	padding-right: 6px;
 	-webkit-transition: all 0.1s ease-in-out;
 	-moz-transition:    all 0.1s ease-in-out;
 	-ms-transition:     all 0.1s ease-in-out;
 	-o-transition:      all 0.1s ease-in-out;
 	transition:         all 0.1s ease-in-out;
}

.filter__togle label::before {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	width: 10px;
	height: 10px;
	margin-right: 6px;
	margin-left: 4px;
	background: url(../img/plus.png) center center no-repeat;

}

.filter__togle label:hover {
	cursor: pointer;
}

.filter__togle input:checked + label {
	background: #FFEB00;
	border: 1px solid #FFEB00;
  	-webkit-box-shadow: none;
 	 box-shadow: none;
}

.filter__togle input:checked + label::before {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	width: 10px;
	height: 10px;
	margin-right: 6px;
	margin-left: 4px;
	background: url(../img/x.png) center center no-repeat;
} 



/*--------------Catalog--------------*/
.catalog__menu {
	width: 284px;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	border-right: 2px solid #DEDEDE;
	border-bottom: 2px solid #DEDEDE;
	padding-right: 2px;
	padding-bottom: 3px;
}

.catalog__menu a {
	display: block;
	margin-bottom: -1px;
	padding: 6px 0 6px 24px;
	width: 284px;
	text-decoration: none;
	color: #101E3C;
	background: #F5F5F5;
	font-weight: 600;
	line-height: 24px;
	box-sizing: border-box;
	font-size: 14px;
}

.catalog__menu a:hover {
	background: #2660DA;
	color: #fff;
}

.catalog__menu > li {
	position: relative;
}

.catalog__menu .sub-menu {
	position: absolute;
	top: -15px;
	left: 288px;
	z-index: 10;
	display: none;
	width: 150px;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #2660da;
}

.catalog__menu > li:hover .sub-menu {
	display: block;
}

.sub-menu a {
	background: #2660DA;
	color: #fff;
}
.sub-menu a:hover {
	background: #f5f5f5;
	color: #101E3C;
}

/*--------------Page Renter--------------*/

.renter__right {
    margin-right: auto;
    margin-left: 36px;
    line-height: 36px;
    font-size: 24px;
    color: #101E3C;
    margin-bottom: 24px;
}
.renter__title {
    padding-bottom: 24px;
}

.renter__info {
    font-weight: 600;
    line-height: 24px;
    font-size: 14px;
    color: #666666;
    padding-bottom: 12px;
}
.renter__info span {
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: #101E3C;
    display: block;
}

.renter__category {
    font-weight: normal;
    line-height: 36px;
    font-size: 24px;
	color: #101E3C;
	margin-bottom: 36px;
}

.renter__block {
	display: flex;
	background: #F5F5F5;
	margin-bottom: 12px;
}
.renter__name {
    padding: 36px 24px 12px 36px;
}
.renter__name span {
	display: block;
	text-align: center;
}

.renter__slide {
	width: 396px;
}

.renter__product {
	width: 336px;
	padding: 36px 36px 0 0;
}
.renter__product a {
	display: block;
}

.slider--rent {
	margin: 0;
}


/*--------------Persona Cabinet--------------*/

.cabinet__left {
	width: 612px;
	margin-bottom: 36px;
}

.cabinet__right {
	width: 612px;
	height: 100%;

}

.cabinet__back {
	background: #F5F5F5;
}
.cabinet__back--two {
	margin-top: 36px;
}
.cabinet__title {
	font-weight: normal;
	line-height: 36px;
	font-size: 24px;
	color: #101E3C;
	padding-bottom: 36px;
}
.cabinet__title span {
	display: block;
	font-weight: normal;
	line-height: 24px;
	font-size: 16px;
	color: #666666;	
}

.cabinet__container { 
	padding: 36px;
}

.cabinet__block {
	flex-direction: column;
	display: inline-flex;
	text-align: left;
	margin-right: 12px;
	z-index: 4;
	position: relative;
	padding-bottom: 6px;
}
.cabinet__block--string {
	display: block;
	text-align: right;
	padding-top: 36px;
}
.cabinet__block--string a {
	padding-right: 24px;
	color: #2660DA;

}

.cabinet__block--indent {
	margin-bottom: 24px;
}
.slct {
	width: 141px;
	overflow: hidden;
	background: url(../img/select.png) no-repeat right #fff;
}

.slct select {
	background: transparent;
	font-size: 15px;
	width: 160px;
}

.slct::after {
	position: absolute;
    left: 2px;
    top: 27px;
    width: 98%;
    height: 58%;
    border: 2px solid #2660DA;
    content: "";
    z-index: -1;
}

.slct--category {
	width: 324px;
	overflow: hidden;
	background: url(../img/select.png) no-repeat right #fff;
}
.slct--category select {
	width: 340px;
	background: transparent;
	font-size: 15px;
}
.slct--category::after {
	position: absolute;
    left: 4px;
    top: 5px;
    width: 99%;
    height: 79%;
    border: 2px solid #2660DA;
    content: "";
    z-index: -1;
}


.cabinet__placing {
	font-weight: normal;
	line-height: 24px;
	font-size: 16px;
	color: #101E3C;
	padding-bottom: 12px;
}
.cabinet__stairs {
	display: block;
	padding-bottom: 12px;
}
.cabinet__image {
	width: 160px;
}
.cabinet__image img {
	width: 160px;
	position: relative;
	border-right: 2px solid #DEDEDE;
	border-bottom: 2px solid #DEDEDE;
	box-sizing: border-box;
	padding-right: 2px;
	padding-bottom: 2px;
}
.cabinet__url {
	float: right;
}

.cabinet__subcategories {
	font-weight: normal;
	font-size: 16px;
	color: #101E3C;
	padding-bottom: 6px;
}

.cabinet__togle {
	padding-bottom: 48px;
}

.cabinet__togle input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.cabinet__togle label {
 	border: 1px solid #E5E5E5;
  	color: #2F303A;
  	line-height: 24px;
  	text-align: center;
 	display: inline-block;
	margin-bottom: 12px;
	font-size: 14px;
	color: #101E3C;
	padding-right: 6px;
 	-webkit-transition: all 0.1s ease-in-out;
 	-moz-transition:    all 0.1s ease-in-out;
 	-ms-transition:     all 0.1s ease-in-out;
 	-o-transition:      all 0.1s ease-in-out;
 	transition:         all 0.1s ease-in-out;
}

.cabinet__togle label::before {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	width: 10px;
	height: 10px;
	margin-right: 6px;
	margin-left: 4px;
	background: url(../img/plus.png) center center no-repeat;

}

.cabinet__togle label:hover {
	cursor: pointer;
}

.cabinet__togle input:checked + label {
	background: #FFEB00;
	border: 1px solid #FFEB00;
  	-webkit-box-shadow: none;
 	 box-shadow: none;
}

.cabinet__togle input:checked + label::before {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	width: 10px;
	height: 10px;
	margin-right: 6px;
	margin-left: 4px;
	background: url(../img/x.png) center center no-repeat;
} 








.checkbox,
.radio {
	display: none;
}
.checkbox-custom,
.radio-custom {
	width: 24px;
	height: 24px;
	border: 2px solid #1142AA;
	border-radius: 3px;
	position: relative;
}
.checkbox-custom,
.radio-custom,
.label {
	display: inline-block;
	vertical-align: middle;
}
.checkbox:checked + .checkbox-custom::before,
.radio:checked + .radio-custom::before {
	content: "";
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	background: #1142AA;
	border-radius: 2px;
}
.radio-custom,
.radio:checked + .radio-custom::before {
	border-radius: 50%;
} 

.label {
	margin-left: 6px;
}







/* Button Style */
.button {
	background: #FFEB00;
	font-weight: 600;
	font-size: 15px;
	text-align: center;
	color: #101E3C;
	width: 187px;
	height: 46px;
	line-height: 48px;
	position:relative;
}
.button:disabled {
	background: #faf07b;
}
.button a {
	color: #101E3C;
}

.button:after {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 100%;
	height: 100%;
	border: 2px solid #FF0000;
	content: "";
	z-index: -1;
}
.button:hover {
	background: #FFD600;
	cursor: pointer;
}

.button--blue {
	background: #FFF;
	width: 182px;
	height: 48px;
	border: 2px solid #1142AA;
	box-sizing: border-box;
}
.button--blue:after {
	border: 2px solid #DEDEDE;
	left: 2px;
	top: 2px;
}

.button--blue:hover {
	background: #FFF;
}
.button--blue:hover:after {
	border: 2px solid #FF0000;
}


.button--submit {
	height: 48px;
	line-height: normal;
	border: 0;
}

.button--popup {
	width: 133px;
	height: 48px;
	border: 0;
	margin-top: 24px;
	margin-right: 39px;
	float: right;
}

.button--rent {
	margin-bottom: -60px;
}

.button--cabinet {
	width: 219px;
}

.button--area {
	width: 216px;
}

.button--catalog {
	width: 205px;
	height: 36px;
	line-height: 36px;
}



@media (max-width: 1080px) {
	.header__graph, .header__adress {
		padding-left: 24px;
	}
	.header__form.button, .button.button--catalog, .social {
		margin-right: 6px;
	}
	.row--product {
		justify-content: center;
	}
	.row--cabinet {
		justify-content: center;
	}

}
@media (min-width: 990px) {
	.header__phone--mobile, .header__info--mobile {
		display: none;
	}
	
}

@media (max-width: 990px) {
	.header {
		flex-wrap: nowrap;
	}
	.header__phone a {
		display: none;
	}
	.header__info {
		display: none;
	}
	.header__phone--mobile {
		display: block;
		margin-top: 12px;
	}
	.header__menu a {
		padding-left: 12px;
	}
	.header__info--mobile {
		display: flex;
	}
	.header__graph {
		padding: 0;
		margin-top: 0;
	}

	.header__adress {
		margin-top: 0;
	}

	.header__phone {
		margin: 0;
	}
	.catalog,.advice__wrap {
		justify-content: center;
	}
	.shop__wrap {
		justify-content: center;
		background-color: #f5f5f5;
	}
	.shop__wrap--rent {
		background-color: transparent;
	}

	.catalog__card, .shop__card, .advice__card {
		margin-left: 10px;
		margin-right: 10px;
	}
	.footer li {
		margin-right: 24px;
	}
	.rent {
		margin-top: 0;
	}
	.head--stock {
		padding-top: 232px;
	}
	.catalog__right {
		margin-left: 24px;
	}
}

@media (min-width: 769px) {
	.menu__mobile {
		display: none;
	}
}

@media (max-width: 768px) {
	.head {
		position: static;
	} 

	.header__menu {
		display: none;
		background: #1142aa;
		position: absolute;
		right: 0px;
		padding-right: 29px;
	}
	.header__menu a {
		padding-left: 24px;
	}

	.header__menu li {
		display: block;
		padding-bottom: 12px;
	}
	.header__back {
		height: 48px; 
	}

	.rent {
		margin-top: 86px;
		margin-bottom: 56px;
	}
	.button--rent {
		margin: 0 auto;
	}

	.advantage__image {
		width: 200px;
	}

	.footer {
		height: 864px;
	}
	.footer__container {
		padding-top: 36px;
		flex-direction: column;
	}
	.footer ul {
		columns: 1;
		-webkit-columns: 1;
	}

	.footer__sitemap, .footer__logo {
		text-align: center;
		margin-bottom: 36px;
	}
	.social {
		justify-content: center;
	}
	.footer__row {
		justify-content: center;
	}
	.footer li:nth-child(5) {
		margin-bottom: 24px;
	}
	.footer li:nth-child(10) {
		margin-bottom: 24px;
	}

	.rent__office, .rent__area {
		margin-top: 48px
	}
	.form__text {
		margin-top: 36px;
	}
	
	.form {
		height: auto;
	}

	.form__block:nth-child(4) {
		padding-bottom: 24px;
	}

	.form__input--phone {
		width: 264px;
	}

	.substrate {
		margin-left: 38px;
		margin-right: 38px;
	}

	.shop__wrap {
		justify-content: center;
		margin-left: 39px;
		margin-right: 39px;
	}

	.catalog__menu a, .catalog__menu {
		width: 100%;
	}

	.catalog__menu a  {
		background: url(../img/arrow-bot.png) no-repeat right;
		background-position-x: 98%;
	}
	
	.catalog__menu a:hover {   
		color:  #101E3C; 
		background: #2660DA;
		background: url(../img/arrow-up.png) no-repeat right;
		background-position-x: 98%;

	}

	.sub-menu a {
		background: #2660DA;
	}

	.sub-menu a:hover {
		background: #2660DA;
		color: #fff;
	}

	.catalog__menu > li {
		background: #F5F5F5;
	}

	.catalog__card--cat {
		padding-left: 0;
	}
	.catalog__menu .sub-menu {
		position: static;
		width: 100%;
	}

	.catalog__card--hide {
		display: none;
	}
	.row--rent {
		margin-bottom: 48px;
		justify-content: center;
		
	}
	.renter__right {
		margin-right: 0;
		margin-left: 0;
	}
	.renter__block {
		display: block;
		margin-right: 12px;
	}
	.renter__product {
		padding: 0px 36px 36px 36px;
		width: auto;
	}

	.row--cat {
		flex-direction: column-reverse;
	}
	.middle {
		display:none;
	}	
}


@media (max-width: 580px) {
	.head {
		height: 348px;
		padding-top: 0;
	}

	.header__ground {
		height: 300px;
	}
	.head__video {
		display: none;
	}
	.header {
		padding-top: 12px;
		flex-direction: column;
		text-align: center;
	}
	.header__phone--mobile {
		text-align: center;
		margin-top: 23px;
	}
	.header__phone--adaptive {
		margin: 0 auto;
		position: relative;
	}

	.header__info--mobile {
		display: block;
	}
	.header__adress {
		margin-top: 12px;
		margin-bottom: 12px;
		padding: 0;
	}
	.rent__office, .rent__area {
		margin-top: -20px;
	}
	.header__phone_form {
		left: -100px;
		right: 0;
		margin: 0 auto;
	}
	.rent__office {
		margin-bottom: 56px;
	}
	.advantage {
		margin-bottom: 108px;
	}
	.form__position {
		margin-top: 36px;
	}
	.form__block {
		margin-bottom: 12px;
		margin-right: 12px;
	}

	.title.title--grey.title--contact {
		float:none;
		padding-bottom: 12px;
	}
	.contact__adress, .contact__graph {
		float: none;
		padding-left: 0;
		background: #f5f5f5;
		margin-left: 39px;
		margin-right: 39px;
		text-align: center;
	}
	.contact__graph {
		padding-bottom: 36px;
	}
	.contact__map {
		margin-top: 0;
	}
	.slider {
		margin-bottom: 72px;
	}
	.catalog {
		margin-bottom: 0;
	}
	.shop__wrap {
		margin-top: 36px;
	}
	.advice__wrap {
		margin-bottom: 64px;
	}
	.contact__map {
		margin-bottom: 72px;
	}
	.filter__togle {
		margin-left: auto;
	}
	.cabinet__right, .cabinet__left {
		text-align: center;
		width: auto;
	}
	.slct, .form__input--lastname, .form__input--patronymic, .form__input--cabinet, .slct--category {
		width: 250px;
	}
	.slct select {
		width: 270px;
	}
	.slct::after {
		width: 99%;
	}
	.slct--category select {
		width: 263px;
	}
	.cabinet__container { 
		padding: 36px 0 36px 0;
	}
	.cabinet__block--string {
		padding-top: 36px;
	}
	.cabinet__image {
		padding-bottom: 24px;
	}
	.cabinet__block--string {
		text-align: center;
	}
	.cabinet__block--string a {
		padding-right: 0;
	}
}

@media (max-width: 475px) {
	.form__input--form {
		width: 264px;
	}
	.header__phone_pos {
		margin-top: 12px;
		margin-left: 0;
	}
	.header__phone_form {
		width: 290px;
		left: -50px;
	}
	.button--popup {
		margin-right: 19px;
	}
	.form {
		height: 450px;
		margin-bottom: 100px;
	}
	.jcarousel-pagination {
		margin: 0 10px;
	}
	.title.title--grey.title--contact {
		width: 250px;
	}
	.row--rent {
		flex-direction: column-reverse;
		margin-bottom: 0;
	}
	.slider--mobile {
		width: 300px
	}
	.renter__name {
		padding: 36px 36px 12px 36px;
	}
	.renter__slide {
		width: 300px;
		margin: 0 auto;
	}
	.renter__right {
		margin: 0 auto;
	}
	.title--renter {
		 margin-bottom: 0;
	}
}

@media (max-width: 350px) {
	.row {
		justify-content: center;
	}
	.title {
		margin-right:auto;
		padding-bottom: 36px;
	}
	.substrate {
		height: 588px;
	}
	.thanks__title {
		margin-top: -578px;
	}
	.header__form.button, .button.button--catalog {
		margin: 0 auto;
	}
	.cabinet__togle {
		margin-left: 21px;
   		margin-right: 10px;
    	text-align: left;
	}
}